<h3> Tell us about your content </h3>

<div class="row">
  <div class="col-md-6" id="required-information">
    <fieldset class="required">
      <legend>Required Information</legend>
      <div class="form-group required text_title managed">
        <label class="required control-label" for="text-title">
          <abbr title data-original-title="required">*</abbr> Title
        </label>
        <div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
