<div class="form-group">
  <%= label_tag :field, "Field to update", class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= select_tag :field, options_for_select(["subject", "language", "creator"]), class: "form-control" %>
  </div>
</div>
