<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="type-tabs">
      <ul class="nav navbar-nav">
        <%= content_tag(:li, link_to('Home', "//library.case.edu/digitalcase") ) %>
        <%= all_type_tab 'Collections' %>
        <%= specified_type_tab 'Items', 'generic_type_sim', 'Work' %>
      </ul>
    </div>
  </div>
</nav>

