<% content_for :page_title, "#{application_name} Search Results" %>
<% content_for :page_class, 'search' %>
<% content_for :page_header do %>
  <%= render 'navbar' %>
<% end %>
<% content_for :sidebar do %>
  <%= render 'search_sidebar' %>
<% end %>

<div id="content">
  <%= render 'search_results' %>
</div>

