
// Colors
// -------------------------

$blue:                  #002B5B !default;
$blue-dark:             #1A2C50 !default;
$yellow:                #DCB439 !default;
$gray:                  #555    !default;

