#tei-container {
  height: 620px;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-top: 10px;
  ol.both li.page {
    &:after {
      clear: both;
    }
  }

  ol.images {
    .text {
      display: none;
    }
    li:nth-child(even) {
      border-bottom: none;
    }
    li:nth-child(1) div {
      // This forces the odd pages to the right.
      @include make-sm-column-offset(6);
    }
  }

  li.page {
    &:before, &:after {
      content: " ";
      display: table;
    }

    border-bottom: 1px solid $gray-light;
    list-style-type: none;
    .image, .text {
      @include make-sm-column(6);
      min-height: 640px;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .pageheader {
      color: gray;
      text-align: center;
      margin-bottom: 10px;
    }
    .tei-head {
      font-weight: bold;
      text-align: center;
    }
  }
}
#display-label {
  margin-left: 20px;
}
